footer {
  background-color: var(--dark-color);
  color: var(--background-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: var(--container-max-width);
  padding: 200px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 200px 32px 24px;
  }
}

/* ensure links in footer are white */
footer a:any-link {
  color: var(--background-color);
}
